
.icon-cw:before { content: '\e800'; } /* '' */
.icon-ccw:before { content: '\e801'; } /* '' */
.icon-trash:before { content: '\e802'; } /* '' */
.icon-ok-circled2:before { content: '\e803'; } /* '' */
.icon-trash-empty:before { content: '\e804'; } /* '' */
.icon-resize-full:before { content: '\e805'; } /* '' */
.icon-resize-small:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\e807'; } /* '' */
.icon-eye:before { content: '\e808'; } /* '' */
.icon-eye-off:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-cog:before { content: '\e80b'; } /* '' */
.icon-indent-left:before { content: '\e80c'; } /* '' */
.icon-indent-right:before { content: '\e80d'; } /* '' */
.icon-menu:before { content: '\e80e'; } /* '' */
.icon-upload:before { content: '\e80f'; } /* '' */
.icon-upload-1:before { content: '\e810'; } /* '' */
.icon-attach:before { content: '\e811'; } /* '' */
.icon-attach-1:before { content: '\e812'; } /* '' */
.icon-attach-2:before { content: '\e813'; } /* '' */
.icon-attach-circled:before { content: '\e814'; } /* '' */
.icon-th-large-outline:before { content: '\e815'; } /* '' */
.icon-attach-3:before { content: '\e816'; } /* '' */
.icon-trash-2:before { content: '\e817'; } /* '' */
.icon-cog-1:before { content: '\e818'; } /* '' */
.icon-th-large:before { content: '\e819'; } /* '' */
.icon-link:before { content: '\e81a'; } /* '' */
.icon-cog-2:before { content: '\e81b'; } /* '' */
.icon-search:before { content: '\e81c'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-trash-1:before { content: '\f1f8'; } /* '' */